.project
{
    position: relative;
	height: auto;
    background: #000834;
    margin-top: -50px;
    padding-top: 20px;
}
.project h2
{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    background: linear-gradient(to bottom, rgb(7, 60, 234), rgba(255, 255, 255, 0.656));
    -webkit-background-clip: text;
    color: transparent;
}
.top
{
	width: 100%;
	float: left;

}
nav{
	width: 100%;
	float: left;
}

h1 {
	font-size: 36px;
	color: #333;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 300;
}

nav ul {
	margin: 0;
	padding: 0;
	width: 34%;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
}

nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li a {
	display: block;
	padding: 5px 10px;
	float: left;
	color: #fff;
	text-decoration: none;
	background-color: black;
	margin-right: 10px;
	border-radius: 5px;
	-webkit-transition: all .05s ease-in;
	-moz-transition: all .05s ease-in;
	-ms-transition: all .05s ease-in;
	-o-transition: all .05s ease-in;
	transition: all .05s ease-in;
}

nav ul li a:active {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

/* [data-cat="portfolio"]{
	background-color: #13A7C7;
}

[data-cat="photography"]{
	background-color: #F24012;
}

[data-cat="agency"]{
	background-color: #06E97E;
}

[data-cat="app"]{
	background-color: #C4529E;
}

[data-cat="blog"]{
	background-color: #14B190;
} */
section {
	width: 100%;
	padding-top: 10px;
}

section h3 {
	font-weight: 300;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-left: .5%;
	border-bottom: 1px #555 dashed;
	padding-bottom: 5px;
    color: white;
}

.items
{
	position: relative;
	/* width: 100%; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.items-box
{
	width: 300px;
	height: 390px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #100a5b;
	box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.4);
	margin: 20px 40px;
}
.projectimage
{
	width: 300px;
	height: auto;
}
.items-box-title
{
	color: aqua;
	font-size: 25px;
}
.items-box p
{
	color: whitesmoke;
	font-family: sans-serif;
	line-height: 27px;
	width: 100%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.items-box-bottom
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.items-box-bottom-left
{
	margin-left: 10px;
}
.items-box-bottom-left img 
{
	width: 20px;
	height: auto;
	margin: 0 5px;
}
.items-box-bottom-right img
{
	width: 20px;
	height: auto;
	filter: invert(1);
	margin: 0 5px;
}
.visible {
	-webkit-transform: scale(1,1,);
	-moz-transform: scale(1,1,);
	-o-transform: scale(1,1,);
	-ms-transform: scale(1,1,);
	transform: scale(1,1,);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.hidden {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.act
{
	background: aqua;
	color: black;
}
.other
{
	background: #111;
}
@media(max-width: 318px)
{
	.items
	{
		width: 100%;
	}
	.items-box
	{
		width: 100%;
		height: auto;
		/* min-height: 350px; */
	}
	.projectimage
	{
		width: 100%;
		height: auto;
		min-height: 120px;
	}
	.items-box
	{
		margin: 10px;
	}
	.items-box-title
	{
		font-size: 9vw;
	}
	.items-box p
	{
		font-size: 6vw;
	}
	.items-box-bottom
	{
		margin-bottom: 20px;
	}
}
@media(max-width: 708px)
{
	nav ul
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-evenly;
	}
}